*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background: #ededed;
    font-family: sans-serif;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    cursor: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px ;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
}
nav ul li a:hover{
    color: #ff4321;
}
.info{
    margin-left: 8%;
    margin-top: 15%;
}
span{
    color: #ff4321;
}
.info h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 30px;
}
.info p{
    color: #606163;
    line-height: 22px;
}
.info a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all;
  
}
.img-box:hover .back-img{
    bottom: 40px;

}
.img-box:hover.main-img{
    left: 54%;
}
.social-links{
    margin-left: 8%;
    margin-top: 80px;
}
.social-links a{
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
}
.social-links a:hover{
    color: #ff4321;
}